canvas {
	background: #000444; 
	border:4px dashed #9a56c3;
}

div{
	text-align:center; 
	padding:6px 0;
}

body{
	text-align:center;
	color:#9a56c3;
}

p{
	font-size:30px;
	font-family:Impact;
	text-align:center;
}

#score1{
	font-size:25px;
	font-family:Impact;
	padding-right:10px;
	float:right;

}

#lives1{
	font-size:25px;
	font-family:Impact;
	padding-right:10px;
	float:right;
	color:black;
}

#timer1{
	font-size:25px;
	font-family:Impact;
	padding-left:10px;
	float:left;

}

mark{
	color:#9a56c3;
	background:none;
}